#buttons-container {
    text-align: center;
}

.button-year {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 15px;
}

.button-year:hover {
    background-color: #ddd;
}

.button-year.selected {
    background-color: #3466CC;
    color: white;
}