.charts-container {
    max-height: 450px;
    overflow: auto;
    white-space: nowrap;
}

#column-chart, #geo-chart, #pie-chart {
    display: inline-block;
    min-height: 400px;
    width: 30.7%;
    margin: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 1000px) {
    #column-chart, #geo-chart, #pie-chart {
        display: grid;
        width: 100%;
        margin: 15px;
    }
}
