* {
    font-family: Roboto;
}

html {background-color: #e7e7e7 }

p {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .column-chart, .geo-chart, .pie-chart {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 15px; /* Adjust bottom margin for spacing */
    }
}

